* {
    width: 45em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    word-wrap: break-word;
    background-color: #ffffee;
    line-height: 1.5;
    word-spacing: 5px;
}

img {
	max-width: 20em;
	padding-top: 1em;
	padding-bottom: 1em;
}

small {
    word-spacing: 3px;
}
